.button {
  outline: none;
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(224, 35, 161);
  transition: 0.4s ease-in-out;
}
.button:not(:last-child) {
  margin-right: 30px;
}
.button:hover {
  background-color: rgb(35, 224, 129);
  transform: scale(1.5);
}
